#world {
    margin: 1vw 1vw 0 1vw;
}

label[for="steps"],label[for="speed"],label[for="pattern-menu"] {
    margin-left: 2vw;
}

label[for="speed"] {
    margin-right: 0.5vw;
}

#step-btn,#run-btn {
    margin-left: 1vw;
    width: 5vw;
}

#steps,#grid-width,#grid-height {
    width: 5vw;
}

#inputs div.col-xs-12 {
    margin-top: 2vh;
}
