/* variables */
:root {
    --border: 2px;
}

#warehouse {
    display: grid;
    
    margin-top: 1vw;
    margin-bottom: 1vw;
}

label[for="speed"] {
    margin-left: 2vw;
}

label[for="speed"] {
    margin-right: 0.5vw;
}

#step-btn,#run-btn {
    margin-left: 1vw;
    width: 5vw;
}

#grid-width,#grid-height {
    width: 5vw;
}

.form-inline {
    margin-bottom: 2vh;
}

#robots img[id^="g"]{
    margin-right: 1vw;
}

.grid-cell {
    border-color: grey;
    border-style: solid;
    border-width: 0px var(--border) var(--border) 0px;

    display: table-cell;
}

.grid-cell.top-row {
    border-top: var(--border) solid grey;
}

.grid-cell.left-col {
    border-left: var(--border) solid grey;
}