#unicode-link:link {
    text-decoration: none;
}
#unicode-link:visited {
    text-decoration: none;
}
#unicode-link:hover {
    text-decoration: none;
}
#unicode-link:active {
    text-decoration: none;
}
#unicode-link:hover .caption {
    text-decoration: underline;
}

#ruby2d-app canvas {
    width: 220px !important;
    height: calc(280px * 220/240) !important;
    display: block;
    margin: auto;
}